@use 'variable' as v;
@use 'mixins';
.gallery{
    //border: 1px solid red;
    &__image-container{
        background-image: url('../images/image-product-1.jpg');
      height: 300px;
      width: 100%;
      background-size: cover;
      background-position-y: -35px;
      
     
    } 
    &__previus{
        @include mixins.image-btn(170px,15px, none);
    }
    &__next{
        @include mixins.image-btn(170px, 312px, none);
    }
    &__thumails{
        //order: 1px solid blue;
        display: none;
        @media (min-width:1115px) {
            display: flex;
            justify-content: space-between;
            
        }
    }
    &__thumail{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border:2px solid v.$Orange;
        }
    }
    @media (min-width:1115px) {
        width: 446px;
        &__image-container {
            background-position-y: 0;
            border-radius: 16px;
            height: 446px;
            margin-bottom: 32px;
        }
    }
}