@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=PT+Serif:ital@0;1&family=Roboto+Slab:wght@200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'kumbh Sans', sans-serif;
}